# dependencies
node_modules

# compiled output
dist
build

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# tests
coverage
.nyc_output

# IDEs and editors
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp
.temp
.tmp

# runtime data
pids
*.pid
*.seed
*.pid.lock

# diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
